<div class="nav-container">
  <nav class="navbar navbar-expand-lg">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Discounts', merchant_bulk_discounts_path(@merchant), class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='mr-auto col-12'>Edit Discount</p>
  </div>


  <table>
    <%= form_with model: [@merchant, @discount], local: true do |f|  %>
    <tr>
      <td><%= f.label :percentage_discount %></td>
      <td><%= f.number_field :percentage_discount %><br><br></td>
    </tr>
    <tr>
      <td><%= f.label :quantity_threshold %></td>
      <td><%= f.number_field :quantity_threshold %><br><br></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Update" %></td>
    </tr>
    <% end %>
  </table>
</body>
