<div class="nav-container">
  <nav class="navbar navbar-expand-lg">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Discounts', merchant_bulk_discounts_path(@merchant), class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <h4 class='mr-auto col-13'>Upcoming Holidays</h4>
  </div>
  <div class="row">
    <h2 class='mr-auto col-12'>All Discounts</h2>
  </div>
  <div class="row">
    <p class='mr-auto col-10'>
      <%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant), method: :get %></p>
  </div>
  <div class='mr-auto col-11'>
    <% @merchant.bulk_discounts.each do |discount| %>
      <ul><%= link_to "Discount No #{discount.id}", merchant_bulk_discount_path(@merchant, discount) %>
        <li>Percentage Discount:
          <%= discount.percentage_discount %></li>
        <li>Quantity Threshold:
          <%= discount.quantity_threshold %></li>
        <li><%= button_to "Delete Discount No #{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete %></li>
      </ul>
    <% end %>
  </div>
</body>
