<div class="nav-container">
  <nav class="navbar navbar-expand-lg">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Discounts', merchant_bulk_discounts_path(@merchant), class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='mr-auto col-12'>Discount No <%= @discount.id %></p>
  </div>
  <div class='mr-auto col-10'>
    <ul>
      <li>Percentage Discount: <%= @discount.percentage_discount %></li>
      <li>Quantity Threshold: <%= @discount.quantity_threshold %></li>
      <li>
      <%= button_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @discount), method: :get %></li>
    </ul>
</body>
